/*Basic styles*/

body {
	min-width: 800px;
}

h1 {
	font-family: 'Oxygen', sans-serif;
	font-weight:700;
	font-size:1.250em;
	text-transform:uppercase;
	margin-bottom:30px;
}

p { 
	font-family: 'Oxygen', sans-serif;
	font-weight:300;
	font-size:1em;
	line-height:1.4em;
	margin-bottom:30px;
}

.bold { font-weight: 700;}

.clearfix { clear:both; height:0;}

<<<<<<< HEAD
#fb-box {
	float:left;
	background-color:white;
	}


=======
>>>>>>> 4cc3495d3ce5bb1921ef20ebd5abcdf13757e9ab
.sideBar {
    top: 120px;
    left: 180px;    
    z-index : 100;
    width: 190px;
    position: fixed;   
    background-color: rgb(0,186,242);
    padding: 5px 5px 10px 5px;
}
	.sideBar .logo {
		background:url(../Images/logo.jpg) no-repeat;
		height:134px;
		width:148px;
		margin: 0 auto;
		padding-bottom:5px;
		}
		
	.sideBar .logo a {
		display:block;
		cursor:pointer;
		height:134px;
		width:148px;
		text-decoration:none;	
		}
		
    .sideBar ul {
        list-style: none;
        text-align: center;
        margin : 0;
        padding: 0;
    }
		.sideBar ul li {
			padding:7px 0;
			cursor:pointer;
			}

        .sideBar ul li:hover {
            background-color: black;
        }

        .sideBar ul li a {
			font-size:1.125em;
            text-decoration: none;
            color: white;
			font-family: 'Oxygen', sans-serif;
			font-weight:300;
			display:block;
        }

        .sideBar ul li a:visited {
            color: white;
        }
		
		.sideBar img {
			padding:25px 0 0 3px;
			}


.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.mainSection {
    background-image: none !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.mainSection ul li {
	list-style:decimal;
	font-family: 'Oxygen', sans-serif;
	font-weight:300;
	font-size:1em;
	
	}

.fakeBackGround {
    border : none;
    width: 100%;
    z-index: -1;
}

.alpha40 {
    color: black;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.4);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000)";
}

.info {
    color: white;
    position: absolute;
    width: 645px;
    top: 120px;
    left: 500px;
    padding: 20px;
}

.company-text {
	float:left;
	margin-right: 20px;
	width: 380px;
}

.reference:first-child {
	margin-bottom:40px;
	}

.reference:first-child  .text {
	margin-right:15px;
	}

.reference:first-child  .image {
	margin-right:0;
	}

.reference .text {
	width:640px;
	float:left;
	}

.reference .image {
	display: none;
	width:290px;
	float:left;
	height:250px;
	background-color:#fff;
	margin-right:15px;
	}
	
#section6 .map, #section6 .contact {
	float:left;
	}
	
#section6 .map {
	width:290px;
	margin-right:7px;
	}

#section6 .contact {
	width:345px;
	}

#section6 .contact h1 {
	margin: 0 0 10px 0;
	font-size:1.125em;
	}
	
#section6 .contact .info-row {
	margin-bottom: 10px;
	}
	
#section6 .contact .info-row img {
	display:none; 
	float:left;
	  margin-right: 10px;
	}
	
#section6 .contact .info-row .info-text {
	float:left;
	width:205px;
	}

#section6 .contact .info-row .info-text p {
	padding-top:0;
	}
	
<<<<<<< HEAD
=======
@media only screen and (min-width : 320px) and (max-width : 479px) {
    
    sideBar {
        top:auto;
        bottom: 10%;
        left: 50%;
        margin-left: -110px;
        background-color: rgb(0,186,242);
        width: 220px;
        position: fixed;
        z-index : 100;
        padding: 5px;
    }

    .info {
        color: white;
        position: absolute;
        width: 340px;
        top: 20%;
        left: 50%;
        margin-left: -170px;
        padding: 10px;
    }
}

.active { background-color:black;}

#section3 ul li { padding-bottom:30px;}

#section6 .small { margin-bottom:0;}
#section6 a { 
	color:#fff; 
	text-decoration:none; 
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	}
>>>>>>> 4cc3495d3ce5bb1921ef20ebd5abcdf13757e9ab
